{% extends 'index.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '/css/board/boardList.css' %}">
<div class="container__board">
    <div class="TITLE">
        BOARD LIST
    </div>

    <div class="boardList__wrapper">
        <ul class="boardList">
            {% for board in boardList %}
                <a class="boardList--link" href="/board/boardDetail/{{ board.id }}">
                    <li class="boardList__itm">
                        <div class="boardList__itm userInfo">
                            <div class="boardList__itm userInfo--name">{{ board.writer }}</div>
                            <div class="boardList__itm userInfo--category">{{ board.id }}</div>
                            <div class="boardList__itm userInfo--time"> | {{ board.created_at }}</div>
                        </div>
                        <div class="boardList__itm textInfo">
                            <div class="boardList__itm textInfo--title">
                                {{ board.title }}
                            </div>
                            <div class="boardList__itm textInfo--text">
                                {{ board.contents }}
                            </div>
                        </div>
                    </li>
                </a>
            {% endfor %}
        </ul>
    </div>

    <div class="btn__wrapper">
        <a class="writeBtn" href="{% url 'board:writeForm' %}">WRITE</a>
    </div>
</div>
{% endblock %}